html
    title Каталог
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        .wrapper
            .catalog-block-wrap(style="background-image: url(images/page-bg.jpg)")
                .breadcrumbs
                    a(href="/index.html").breadcrumbs--item.back-link
                        img(src="images/icons/back-arrow.svg").icon
                        span.text Назад
                    a(href="/catalog.html").breadcrumbs--item
                        span.text Каталог автомобилей

                .catalog-block
                    .row
                        .col-12.col-lg-2
                            .filters-wrap
                                .d-flex.d-lg-none
                                    .filters-btn
                                        .icon
                                            img(src="images/icons/filter.svg")
                                        .text Открыть фильтры
                                        .arrow
                                            img(src="images/icons/arrow-toggle-down.svg")
                                .filters
                                    form
                                        .input-wrap
                                            .label Цена

                                            .range-slider-wrap.mt-2
                                                .range-slider
                                                    input.js-range-slider(
                                                        type="text"
                                                        hidden
                                                        data-min="0"
                                                        data-max="35000"
                                                        data-from="6000"
                                                        data-to="35000")

                                            .range-slider-controls.mt-4.pt-2
                                                .range-slider-controls--item
                                                    .input.from.d-flex.align-items-center
                                                        span от
                                                        input(type="text" value="1000").js-input-from
                                                        | &nbsp;
                                                        b.rouble ₽
                                                .range-slider-controls--item
                                                    .input.to.d-flex.align-items-center
                                                        span до
                                                        input(type="text" value="35000").js-input-to
                                                        | &nbsp;
                                                        b.rouble ₽

                                        .input-wrap
                                            .label Кондиционер

                                            select(placeholder="Есть").custom-select
                                                option(value="Есть" selected) Есть
                                                option(value="Нет") Нет

                                        .input-wrap
                                            .label Коробка передач

                                            select(placeholder="Механика").custom-select
                                                option(value="Механика" selected) Механика
                                                option(value="Автомат") Автомат

                                        .input-wrap
                                            .label Мощность двигателя

                                            select(placeholder="97 ЛС").custom-select
                                                option(value="97 ЛС" selected) 97 ЛС

                                        button(type="submit").btn.btn-blue.mt-5.w-100 Применить

                        .col-12.col-lg-10
                            .product-list
                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                                .product-item
                                    a(href="#").image
                                        img(src="images/assets/product-preview.jpg")
                                    .info
                                        a(href="#").title Volkswagen Polo 2018 MT
                                        .characteristics
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-user.svg")
                                                .text 2 мест
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-square.svg")
                                                .text 3 двери
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-automatic.svg")
                                                .text Автомат
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                                .text Кондиционер
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-graph.svg")
                                                .text 183 л.с
                                            .characteristics--item
                                                img.icon(src="images/icons/characteristics-list.svg")
                                                .text 1-7 л.\км.
                                        .price
                                            .label ОТ
                                            .value 1.575
                                                .rouble.d-inline ₽
                                                span / сутки

                                        a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                            .button-wrap
                                .btn.btn-blue.more-btn Показать ещё


        include ./blocks/about-block-small
        include ./blocks/rent-out-block


        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
